body{
    font-family: sans-serif;
}
.container{
    width: 20%;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 10px;
}
h2 {
    width: 100%;
    text-align: center;
}